* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header {
    height: 100vh;
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
    background-position: center;
}

@keyframes animate {
    0%,
    100% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image\\A1.jpg);
    }
    20% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image\\B3.jpg);
    }
    40% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image\\T1.jpg);
    }
    60% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image\\A2.jpg);
    }
    80% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image\\T3.jpg);
    }
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

ul li.active a {
    background-color: #fff;
    color: #000;
}

.main {
    max-width: 1300px;
    margin: auto;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    color: #fff;
    font-size: 50px;
}

.banner-btn a {
    border: 1px solid #fff;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 50px;
    display: inline-block;
    margin-top: 15px;
    margin-left: 50px;
    color: #fff;
}

.banner-btn a.active {
    background-color: #f3ce49;
    border-color: #f3ce49;
    color: rgb(0, 0, 0);
}